*.o
*~
*.diff
*.patch
*.core
core
tags
.deps/
compat/.dirstamp
aclocal.m4
autom4te.cache/
config.log
config.status
etc/
Makefile
Makefile.in
configure
*.bin
*.dSYM
*.swp
*.tsk
CMakeCache.txt
CMakeFiles/
*.cmake
log.txt
compile_commands.json
